<div class="container mt-5">
  <h2>Danh Sách Nhiệm Vụ</h2>
  <div class="d-flex justify-content-between mb-2">
    <button class="btn btn-primary btn-sm m-1" data-bs-toggle="modal" data-bs-target="#taskModal">Thêm</button>
    <select class="form-select w-25" (change)="onCategoryChange($event)">
      <option value="">Tất cả danh mục</option>
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
  </div>

  <table class="table table-light table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Tiêu Đề</th>
      <th>Mô Tả</th>
      <th>Quan Trọng</th>
      <th>Ngày Tạo</th>
      <th>Ngày Cập Nhật</th>
      <th>Hạn Chót</th>
      <th>Đã Hoàn Thành</th>
      <th>Danh Mục</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="tasks.length == 0">
      <td colspan="10" class="text-center">Không có dữ liệu</td>
    </tr>
    <tr *ngFor="let task of tasks">
      <td>{{ task.id }}</td>
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>
        <span
        class="badge rounded-pill"
        [ngClass]="{
    'bg-success': task.important === 1,
    'bg-warning': task.important === 2,
    'bg-danger': task.important > 2
  }">
  {{ task.important === 1 ? 'Vừa' : task.important === 2 ? 'Bình thường' : 'Cao' }}
</span>
      </td>
      <td>{{ task.createdAt | date: 'dd/MM/yyyy' }}</td>
      <td>{{ task.updatedAt | date: 'dd/MM/yyyy'}}</td>
      <td>{{ task.dueDate | date: 'dd/MM/yyyy'}}</td>
      <td><span
        class="badge rounded-pill"
        [ngClass]="{
    'bg-success': task.done === true,
    'bg-warning': task.done === false
  }">{{ task.done ? 'Done' : 'Not done' }}</span></td>
      <td>{{ task.category.name }}</td>
      <td>
        <button class="btn btn-success btn-sm m-1" ><i class="fa-solid fa-check"></i></button>
        <button class="btn btn-warning btn-sm m-1" (click)="editTask(task.id)" ><i class="fa-solid fa-pen"></i></button>
        <button class="btn btn-danger btn-sm m-1" ><i class="fa-solid fa-trash"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Task Modal -->
<app-task-modal [task]="selectedTask" (saveTaskEvent)="onSaveTask()"></app-task-modal>
